<div class="pull-right">
    <a href="#!/blog/create" class="btn btn-default" title="Create Blog"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<div class="page-header">
	<h3>Blogs</h3>
</div>

<div ng-show="blogEntries.length > 0">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th class="col-md-6">Title</th>
				<th class="col-md-3">Author</th>
				<th class="col-md-2">Created</th>
                <th class="col-md-1">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="blogEntry in blogEntries">
				<td>{{blogEntry.title}}</td>
				<td>{{blogEntry.author}}</td>
                <td>{{blogEntry.created}}</td>
				<td><a href="" ng-click="deleteBlogEntry(blogEntry)"><img src="app/img/actions/delete-16.png" /></a></td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-hide="blogEntries.length > 0">No blogs.</div>